{:paths ["src"]
 :deps {clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}
 :pods {retrogradeorbit/bootleg {:version "0.1.9" }}
 :tasks {build (do
                 (shell "rm -f espoir")
                 (shell "bb uberscript espoir -m net.coruscation.espoir.main")
                 (spit "espoir"
                       (str (slurp "prelude")
                            (slurp "espoir"))))}}
