{:paths [ "src" ]
 :deps {thheller/shadow-cljs {:mvn/version "2.28.10"}
        clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
        clojure-term-colors/clojure-term-colors {:git/url "git@github.com:imakira/clojure-term-colors.git"
                                                 :git/sha "75a90999428d91fe6447f6a712e7d7b9f66b39a2"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        org.clj-commons/hickory {:mvn/version "0.7.4"}
        cider/cider-nrepl {:mvn/version "0.50.1"}}}
